@import '../../variables';

.content {
  justify-content: center;
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100vh;
  width: 100%;

  .background-container {
    background-image: url('../../assets/bg.jpg');
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    transform: scale(1,1);
    transition: all .5s;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;

    &.zoom {
      transform: scale(1.1);
      opacity: 0;
    }
  }

  .form-wrapper {
    margin-top: 100px;
    width: 80%;

    form {
      flex-direction: column;
      display: flex;

      .mat-icon {
        color: $grey;
      }

      button {
        transition: background-color .5s;
        background-color: $primary;
        margin-top: 10px;
        color: $white;
        padding: 6px;

        &:disabled {
          background-color: $light-grey;
        }
      }
    }
  }
}
