<div class="content">
  <div class="background-container" [class.zoom]="zoom"></div>

  <div class="form-wrapper">
    <form [formGroup]="loginForm">

      <md-input-container class="animated fadeInDown">
        <input mdInput placeholder="Email" formControlName="email">
        <md-icon mdSuffix>email</md-icon>
      </md-input-container>

      <md-input-container class="animated fadeInDown">
        <input mdInput placeholder="Password" formControlName="password">
        <md-icon mdSuffix>lock</md-icon>
      </md-input-container>

      <button md-button class="animated fadeInDown" (click)="onSubmit()" [disabled]="loginForm.invalid">Login</button>

    </form>
  </div>

</div>
