<div class="header-bar">
  <a routerLink="/trips">
  Drivers Log
</a>
  <div class="flex-div">
  </div>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item routerLink="/statistic">
      <md-icon>show_chart</md-icon>
      <span>Statistik</span>
    </button>
    <button md-menu-item routerLink="/logout">
      <md-icon>exit_to_app</md-icon>
      <span>Log out</span>
    </button>
  </md-menu>
</div>
