@import '../../variables';

.header-bar {
  width: calc(100% - 35px);
  background-color: $primary;
  padding: 0 10px 0 25px;
  color: white;
  height: 64px;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    color: $white;
  }
}

.flex-div{
  flex-grow: 1;
  height: 64px;
  display: flex;
  top:0;
}
