$primary: rgba(0, 172, 193, 1);
$black: rgba(0, 0, 0, 1);
$grey: rgba(158, 158, 158, 1);
$light-grey: rgba(243, 243, 243, 1);
$white: rgba(255, 255, 255, 1);

$light-red: rgba(229, 115, 115, 1);
$light-green: rgba(129, 199, 132, 1);
$light-yellow: rgba(241, 231, 114, 1);
