<div class="content">

  <md-list>
    <md-list-item *ngFor="let trip of trips" (click)="openDialog(trip)">

      <span class="date">{{ trip.date | date: 'd. MMM'}}</span>

      <span>{{ trip.totalKm }}km</span>

      <div class="spacer"></div>

      <md-icon *ngIf="trip.totalKm > 0" class="check">check_circle</md-icon>
      <md-icon *ngIf="trip.totalKm == 0" class="warn">error</md-icon>

    </md-list-item>
  </md-list>

</div>


<button class="add" md-fab color="primary" (click)="openDialog()">
  <md-icon>add</md-icon>
</button>
